<div class="h-full w-full flex-row sm:flex">
    <div class="p-8 sm:w-1/2">
        <h1 class="p-8 text-center text-3xl font-semibold sm:text-4xl">
            Manage Documents
        </h1>
        <h2 class="p-8 text-center text-2xl sm:text-3xl">
            Easily keep record of residents, visitors and employees in your
            organizations/institution. No need to buy books backup now in the
            cloud.
        </h2>
        <div class="p-8">
            <a
                routerLink="/loginPage"
                class="whitespace-no-wrap mx-20 my-auto flex items-center justify-center rounded-full border-2 border-transparent bg-lightMode-primary px-4 py-2 text-2xl font-medium leading-6 text-lightMode-text shadow-sm hover:border-lightMode-accent hover:bg-darkMode-accent hover:text-darkMode-text focus:outline-none"
            >
                Try now
            </a>
        </div>
    </div>
    <div class="sm:w-1/2">
        <div>
            <img
                class="w-fit"
                src="../../../assets/images/homeimage1.png"
                alt=""
            />
        </div>
    </div>
</div>
<div class=" sm:h-screen">
    <div class="relative mx-auto my-10 max-w-sm sm:my-20 sm:max-w-7xl">
        <img
            class="h-full w-full rounded-3xl object-cover"
            src="../../../assets/images/homeimage3.png"
            alt="Random image"
            fill
            priority
        />
        <div
            class="absolute inset-0 rounded-3xl bg-darkMode-background opacity-50"
        ></div>
        <div
            class="absolute inset-0 flex flex-col items-center justify-center text-center"
        >
            <h2
                class="px-4 text-3xl font-bold text-lightMode-accent sm:text-5xl"
            >
                Easily search through your documents.
            </h2>
            <div class="mt-10">
                <a
                    routerLink="/loginPage"
                    class="whitespace-no-wrap mx-20 my-auto flex items-center justify-center rounded-full border-2 border-transparent bg-lightMode-primary px-4 py-2 text-2xl font-medium leading-6 text-lightMode-text shadow-sm hover:border-lightMode-accent hover:bg-darkMode-accent hover:text-darkMode-text focus:outline-none sm:px-8 sm:py-4"
                >
                    Try now
                </a>
            </div>
        </div>
    </div>
</div>
