<section class="mt-20">
    <div
        class="mx-auto max-w-screen-xl space-y-8 overflow-hidden px-4 py-12 sm:px-6 lg:px-8"
    >
        <nav class="-mx-5 -my-2 flex flex-wrap justify-center">
            <div class="px-5 py-2">
                <a
                    href="#"
                    class="text-3xl leading-6 text-gray-500 hover:text-gray-900"
                >
                    About
                </a>
            </div>

            <div class="px-5 py-2">
                <a
                    href="#"
                    class="text-3xl leading-6 text-gray-500 hover:text-gray-900"
                >
                    Pricing
                </a>
            </div>
            <div class="px-5 py-2">
                <a
                    href="#"
                    class="text-3xl leading-6 text-gray-500 hover:text-gray-900"
                >
                    Contact
                </a>
            </div>
            <div class="px-5 py-2">
                <a
                    href="#"
                    class="text-3xl leading-6 text-gray-500 hover:text-gray-900"
                >
                    Terms
                </a>
            </div>
        </nav>
        <div class="mt-8 flex justify-center space-x-6">
            <a
                href="#"
                class="text-2xl text-lightMode-text hover:text-darkMode-accent sm:text-4xl"
            >
                <fa-icon [icon]="faGithub"></fa-icon>
            </a>
            <a
                href="#"
                class="text-2xl text-lightMode-text hover:text-darkMode-accent sm:text-4xl"
            >
                <fa-icon [icon]="faLinkedin"></fa-icon>
            </a>
        </div>
        <p class="mt-8 text-center sm:text-4xl text-2xl leading-6 text-gray-400">
            © 2024 SomeCompany, Inc. All rights reserved.
        </p>
    </div>
</section>
